.mainContainer {
  width: 100%;
  padding-bottom: 500px;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
  margin: 30px 0px;
}
.mainContainer section {
  width: 100%;
  background-color: var(--main-white);
  padding: 10px;
  text-align: left;
  margin-bottom: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.topSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.topSection h3 {
}
.topSection button {
  border: none;
  outline: none;
  background-color: inherit;
  font-size: 20px;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
